<div *ngIf="viewMode && !loader">
  <ng-container *ngIf="currentGoal.id; else noGoalSelected">
    <h2>Mission Details</h2>
    <div>
      <label
        ><h5><strong>Title:</strong></h5></label
      >
      {{ currentGoal.title }}
    </div>
    <div>
      <label
        ><h5><strong>Description:</strong></h5></label
      >
      {{ currentGoal.description }}
    </div>
    <div>
      <label
        ><h5><strong>Status:</strong></h5></label
      >
      {{ currentGoal.status ? "Completed" : "Pending" }}
    </div>

    <a class="btn btn-custom" [routerLink]="'/goals/' + currentGoal.id">
      Edit
    </a>
  </ng-container>
  <ng-template #noGoalSelected>
    <h5>Choose a mission from above to view the mission details</h5>
  </ng-template>
</div>

<div *ngIf="!viewMode && !loader">
  <ng-container *ngIf="currentGoal.id; else cannotAccessGoal">
    <div class="edit-form card">
      <h2>Update Mission</h2>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentGoal.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentGoal.description"
            name="description"
          />
        </div>

        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentGoal.status ? "Completed" : "Pending" }}
        </div>

        <button
          class="btn btn-custom btn-mark mr-2"
          (click)="updateStatus(true)"
        >
          {{ currentGoal.status ? "Mark as Pending" : "Mark as Completed" }}
        </button>

        <button
          class="btn btn-custom btn-remove mr-2 mt-2 mb-2"
          (click)="deleteGoal()"
        >
          Delete
        </button>

        <button
          type="submit"
          class="btn btn-custom mr-2"
          (click)="updateGoal()"
        >
          Update
        </button>
        <p>{{ message }}</p>
      </form>
    </div>
  </ng-container>
  <ng-template #cannotAccessGoal>
    <p>Cannot access this goal...</p>
  </ng-template>
</div>

<div *ngIf="loader" class="spinner-container">
  <div class="shuriken mr-2"></div>
  <h2>Loading...</h2>
</div>
