<div *ngIf="loader" class="spinner-container">
  <div class="shuriken"></div>
  <h2>Loading...</h2>
</div>
<div *ngIf="!loader" class="container-image">
  <nav class="navbar navbar-expand navbar-color">
    <img class="logo" src="../assets/logo.png" />
    <a href="#" class="navbar-brand">GoalJutsu: The Way of Shinobi</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="goals" class="navbar-brand">Missions</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="navbar-brand">Add a new Mission</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-container">
    <p>Developed by Sadaf Mirza &copy; 2024. All rights reserved.</p>
  </div>
</div>
