<div class="min-height">
  <div *ngIf="!loader" class="submit-form card">
    <div *ngIf="!submitted">
      <h2>Mission Details</h2>
      <form #goalForm="ngForm" (ngSubmit)="saveGoal()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="goal.title"
            name="title"
            #titleInput="ngModel"
          />
          <!-- Display error message if title is not entered -->
          <small
            class="text-danger"
            *ngIf="
              titleInput.invalid && (titleInput.dirty || titleInput.touched)
            "
          >
            Title is required.
          </small>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            required
            [(ngModel)]="goal.description"
            name="description"
            #descriptionInput="ngModel"
          />
          <!-- Display error message if description is not entered -->
          <small
            class="text-danger"
            *ngIf="
              descriptionInput.invalid &&
              (descriptionInput.dirty || descriptionInput.touched)
            "
          >
            Description is required.
          </small>
        </div>

        <!-- Disable the submit button if form is invalid -->
        <button
          [disabled]="goalForm.invalid"
          type="submit"
          class="btn btn-custom"
        >
          Submit
        </button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h4>Mission was submitted successfully!</h4>
      <button class="btn btn-custom mt-4" (click)="newTutorial()">
        Go back
      </button>
    </div>
  </div>
  <div *ngIf="loader" class="spinner-container">
    <div class="shuriken"></div>
    <h2>Loading...</h2>
  </div>
</div>
