.submit-form {
  max-width: 50%;
  margin: 10vh auto;
}

.card {
  background: rgba(0, 0, 0, 0.345);
  border: none;
  padding: 20px;
  min-height: auto; /* 80vh */
}

.min-height {
  min-height: 80vh !important;
}
