<div class="submit-form card">
  <div *ngIf="!submitted">
    <h2>Mission Details</h2>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="goal.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="goal.description"
        name="description"
      />
    </div>

    <button (click)="saveGoal()" class="btn btn-custom">Submit</button>
  </div>
  <div *ngIf="submitted">
    <h4>Mission was submitted successfully!</h4>
    <button class="btn btn-custom" (click)="newTutorial()">Go back</button>
  </div>
</div>
