<div *ngIf="!loader" class="min-height">
  <div class="list row card">
    <div *ngIf="goals && missionList.length > 0" class="col-md-8 center-align">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button class="btn btn-search" type="button" (click)="searchTitle()">
            Search
          </button>
        </div>
      </div>

      <h2>Missions List</h2>
      <ul class="list-group" *ngIf="goals.length > 0">
        <li
          class="list-group-item"
          *ngFor="let goal of goals; let i = index"
          [class.active]="i === currentIndex"
          (click)="setActiveGoal(goal, i)"
        >
          {{ goal.title }}
        </li>
      </ul>
      <ul class="list-group mb-3" *ngIf="goals.length === 0">
        <li class="list-group-item no-pointer">
          No Missions matched your search criteria
        </li>
      </ul>
      <div class="button-container" *ngIf="goals.length > 0">
        <button class="mt-3 mb-3 btn btn-custom" (click)="redirectToAddPage()">
          Add a new Mission
        </button>
        <button
          class="mt-3 mb-3 btn btn-custom btn-remove"
          (click)="removeAllGoals()"
        >
          Remove All
        </button>
      </div>
      <div class="col-md-12">
        <app-goal-details
          [viewMode]="true"
          [currentGoal]="currentGoal"
        ></app-goal-details>
      </div>
    </div>
    <div *ngIf="goals && missionList.length == 0" class="container col-md-12">
      <div class="sasuke-section">
        <img class="sasuke" src="../../../assets/no-data.png" />
      </div>
      <div class="text-section additional-text">
        <div class="card-sasuke">
          <div class="inline-text">
            <span>No Missions to show</span>
            <div class="shuriken"></div>
          </div>
          <span class="inline-text">{{ additionalSasukeText }}</span>
          <button class="m-3 btn btn-custom" (click)="redirectToAddPage()">
            Add a new Mission
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loader" class="spinner-container">
  <div class="shuriken mr-2"></div>
  <h2>Loading...</h2>
</div>
