.logo {
  height: 50px;
  width: 65px;
  margin-right: 20px;
}

body {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.container-image {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  color: bisque;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0px 0px 10px rgba(255, 204, 0, 0.989); /* Glow shadow effect */
}

#text {
  overflow: hidden; /* Ensures text doesn't overflow its container */
  border-right: 0.15em solid orange; /* Cursor effect */
  white-space: nowrap; /* Prevents line breaks */
  margin: 0 auto; /* Centers text horizontally */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typewriter animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor (blinking caret) animation */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Override Bootstrap button class */
.btn-custom {
  background: linear-gradient(to right, #ff9900, #ff6600);
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Example shadow */

  /* Add transition for smooth animation */
  transition: box-shadow 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(to right, #ff9225, #d04905);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.61); /* Example shadow */
  color: #ffffff;
}

.btn-remove {
  background: linear-gradient(to right, #ff3300, #cc0000);
}

.btn-mark {
  background: linear-gradient(to right, #ff6600, #ff3300);
}

.shuriken {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  background-image: url("./assets/shuriken.png"); /* Replace 'shuriken.png' with your image path */
  background-size: contain;
  animation: rotateShuriken 2s linear infinite; /* Rotate animation */
}

@keyframes rotateShuriken {
  from {
    transform: rotate(0deg); /* Initial rotation angle */
  }
  to {
    transform: rotate(360deg); /* Final rotation angle */
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* For screens smaller than 768px (typical mobile screens) */
@media screen and (max-width: 767px) {
  .logo {
    height: 30px; /* Adjust as needed for smaller screens */
    width: auto;
    margin-right: 10px; /* Adjust margin based on your design */
  }

  .container-image {
    min-width: 767px;
    min-height: 767px;
  }

  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .btn-custom {
    width: 100%; /* Make button width 100% for smaller screens */
    margin-bottom: 10px; /* Add spacing between buttons */
  }

  .shuriken {
    height: 40px;
  }
}

/* Global styles for the login and signup pages */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(6, 0, 0, 0.1);
}

.auth-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: bisque;
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  color: bisque;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="email"],
input[type="password"] {
  background-color: #f7f7f7;
}

button {
  width: 100%;
  padding: 12px;
  background-color: bisque;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #f0c27b;
}

.auth-switch {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-switch a {
  color: bisque;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}

.no-pointer {
  cursor: not-allowed !important;
}

.button-container {
  display: flex; /* Use flexbox to align items horizontally */
  gap: 50px; /* Add space between buttons */
  margin-top: 10px; /* Add some top margin */
}
